h2 {
    color: rgb(142, 47, 51);
    font-size: 15px;
}

body{
    background-color: rgb(235, 200, 153);
}

p{
    color: rgb(77, 70, 70);
    font-size: 18px;
    line-height: 20px;
}

.par{
    color: rgb(134, 35, 35);
    font-size: 15px;
    line-height: 19px;
}
 
a{
    color: orangered; 
}

img{
    border-radius: 25px;
}